.service {
  width: 100%;
  padding: 3% 0 3% 0;
  background: var(--theme-color);
}

@media (min-width: 768px) {
  .service .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
  }
}
.service-Title {
  font-weight: 800;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 1rem;
}
.service_top-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
}
.service_top-left-bar,
.service_top-right-bar {
  padding-top: 8rem;
  margin-bottom: 1.5rem;
}

.service_top-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin: 0.3rem 0 2rem 0;
}
.service_top-left-bar,
.service_top-right-bar {
  position: relative;
}
.service_buttom-left-bar {
  margin: 2rem 0 1rem 0;
}
.service_buttom-right-bar {
  position: relative;
}
.service_buttom-right-bar_text {
  margin: 2rem 0 3rem 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin: 0.7rem 0;
}
.service-btn {
  background: transparent;
  border: 1px solid #f6921e;
  border-radius: 4px;
  padding: 1rem 1.5rem;
}
@media (min-width: 768px) {
  .service-Title {
    grid-column: 1/-1;
    margin-bottom: 2rem;
    font-size: 30px;
  }
  .service_top-left-bar {
    grid-column: 1/7;
  }
  .service_top-right-bar {
    grid-column: 7/-1;
  }
  .service_top-title {
    font-size: 22px;
    line-height: 26px;
  }
  .service_top-text {
    font-size: 16px;
  }
  .service_buttom-left-bar {
    grid-column: 1/7;
    padding-bottom: 1rem;
    margin: 2rem 0 1rem 0;
  }
  .service_buttom-right-bar {
    grid-column: 7/-1;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }
  .service_top-left-bar,
  .service_top-right-bar {
    padding-top: 9rem;
    margin-bottom: 2rem;
  }
  .service_buttom-right-bar_title {
    font-size: 30px;
    line-height: 42px;
  }
  .service_buttom-right-bar_text {
    font-size: 16px;
    margin: 3rem 0 4rem 0;
  }
  .service_buttom-right-bar .hero-contact-area {
    position: absolute;
    bottom: 0;
  }
}

.service_top-left-bar::before {
  content: "";
  position: absolute;
  background: url(https://surreysteels.netlify.app/images/structural-icon.svg);
  background-repeat: no-repeat;
  width: 127px;
  height: 100px;
  top: 0;
}
.service_top-right-bar::before {
  content: "";
  position: absolute;
  background: url(https://surreysteels.netlify.app/images/architectural-icon.svg);
  background-repeat: no-repeat;
  width: 127px;
  height: 100px;
  top: 0;
}
